.col-sm-3
  .card{}
    / %img.card-img-top{:alt => "Card image cap", :src => "http://placehold.it/50px50/"}/
    .card-body
      %h5.card-title=project.title
      %p.card-text=project.description
      / %a.btn.btn-primary{:href => "#"} Go